.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--h-padding);
    height: 5rem;
    width: 100%;
    border-top: .1rem solid var(--color-primary-40);
    background: var(--color-primary-10);
    max-width: 50rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-basis: 100%;
    justify-items: center;
    align-items: center;
}

.menuItem {
    opacity: .4;
    transition: opacity .3s;
}

.menuItem.current {
    opacity: 1;
}

.menuItem_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    letter-spacing: .04rem;
    line-height: 1.4rem;
    text-transform: lowercase;
    text-decoration: none;
    color: var(--color-primary-100);
}

.menuItem_icon {
    margin-bottom: .1rem;
}