.section {
    padding: var(--h-padding);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
}
.animaleOro {
    justify-content: flex-end;
}
.animaleOro div {
    position: relative;
    z-index: 1;
}
.insideAnimale img,
.animaleOro img {
    width: 100%;
    object-fit: cover;
}
.insideAnimale {
    height: 18.1rem;
    object-fit: cover;
    object-position: center top;
}