.input {
    padding: 0;
    font-size: 1.4rem;
    letter-spacing: .02rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-primary-100);
}

input::placeholder {
    color: var(--color-primary-50);
}