$slidesControlHeight: 6.6rem;

.slider {
    position: relative;
    height: 85vh;
    overflow: hidden;
}
.slides {
    height: 100%;
    display: flex;
}
.slide_wrapper {
    flex: 0 0 100%;
    height: 100%;
    transition: transform .3s;
}
.slide { 
    padding-bottom: $slidesControlHeight;
}
.slidesControls {
    position: absolute;
    bottom: 0;
    left: 0;
    height: $slidesControlHeight;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slidesControls_button {
    height: .1rem;
    width: 3.2rem;
    border: none;
    background: var(--color-primary-10);
    padding: 0;
    outline: none;
    transform: scaleY(1);
    transform-origin: center center;
    transition: transform .3s;
    cursor: pointer;
}
.slider.black .slidesControls_button {
    background-color: var(--color-primary-100);
}
.slidesControls_button.current {
    transform: scaleY(2);
    @media (min-width: 500px) {
        transform: scaleY(5);
    }
}
.slidesControls_button + .slidesControls_button {
    margin-left: .8rem;
}