.slide {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .3s;
}
.slide_title,
.slide_subtitle {
    font-family: "Didot", serif;
    color: var(--color-primary-10);
    text-align: center;
    flex: 1 1 100%;
    text-transform: uppercase;
    font-weight: bold;
}
.slide_title {
    margin-bottom: 4.8rem;
    font-size: 3rem;
    letter-spacing: .281rem;
}
.slide_subtitle {
    font-size: 1.5rem;
    letter-spacing: .667rem;
    margin-bottom: .3rem;
}