.main {
    padding-bottom: var(--padding-bottom-menu);
}
.header {
    position: absolute;
    top: 0;
    left: 0;
}
.featuredImage {
    width: 100%;
    height: 56rem;
    object-fit: cover;
    object-position: center top;
}
.slider {
    height: 56rem;
}
.h-padding {
    padding: var(--h-padding);
}
.productInfos {
    padding: var(--h-padding);
    text-align: center;
    font-size: 1.5rem;
}
.price {
    font-weight: 700;
    margin-top: 1.4rem;
}
.installments {
    font-size: 1.3rem;
    margin-top: 1.4rem;
}
.unavailable {
    color: var(--color-primary-10);
    background-color: var(--color-primary-40);
    padding: .3rem .5rem;
    display: inline-block;
    margin-top: .7rem;
    border-radius: .2rem;
}