.card {
    width: 19.2rem;
}
.card_aspectRatio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: calc((256 * 100 / 192) * 1%);
}
.card_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center top;
}
.content_wrapper {
    margin-top: 8rem;
    text-align: center;
}
.card_subtitle {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--color-primary-10);
    text-transform: uppercase;
    margin-bottom: .8rem;
    letter-spacing: 1.3636rem;
}
.card_title {
    flex: 0 0 100%;
    color: white;
    font-size: 1.4rem;
    letter-spacing: .14rem;
    text-align: center;
}
.callToAction {
    height: 2.4rem;
    max-width: 11.2rem;
    font-size: 1rem;
    margin: 1.4rem auto 0;
}