.link {
    background-color: var(--color-primary-35);
    height: 10.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    position: relative;

    transform: scale(1);
    transition: transform .3s;
}
.link:hover {
    transform: scale(1.02);
}
.img {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}
.title {
    text-transform: uppercase;
    color: var(--color-primary-10);
    font-weight: 500;
    letter-spacing: .1rem;
}