.section {
    padding: 0 var(--h-padding);
    margin-top: 4.9rem;
}
.banner {
    width: 100%;
}
.banner h2 {
    font-size: 2.4rem;
    letter-spacing: .625rem;
}
.banner a {
    height: 3.2rem;
    max-width: 18.8rem;
    font-size: 1.2rem;
}