@import url("./reset.css");

html {
    font-size: 62.5%;
    font-family: "Futura PT", sans-serif;

    --color-primary-10: #FFF;
    --color-primary-20: #FAFAFA;
    --color-primary-25: #F3F3F3;
    --color-primary-30: #D8D8D8;
    --color-primary-35: #C1C3C2;
    --color-primary-40: #BBB;
    --color-primary-50: #969696;
    --color-primary-60: #616161;
    --color-primary-100: #000;

    --color-secondary-50: #E02020;

    --error: var(--color-secondary-50);

    --h-padding: 1.6rem;
    --padding-bottom-menu: 5rem;

    background: #1f1f1f;

    @media (min-width: 500px) {
        font-size: 80.5%;
    }
}

body {
    font-size: 1.4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background: white;
    width: 100%;
    max-width: 50rem;
}

a {
    text-decoration: none;
    color: inherit;
}