.card {
    overflow: hidden;
}
.figure {
    position: relative;
    height: 0;
    padding-top: calc((28100 / 188) * 1%);    
}
.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.productInfo {
    padding: 1.2rem 1.6rem 2.3rem;
    color: var(--color-primary-100);
}
.status {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
}
.productName {
    font-size: 1.3rem;
    margin-top: .7rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.price {
    margin-top: .7rem;
    font-weight: 700;
}
.installments {
    margin-top: .3rem;
}
.unavailable {
    color: var(--color-primary-10);
    background-color: var(--color-primary-40);
    padding: .3rem .5rem;
    display: inline-block;
    margin-top: .7rem;
    border-radius: .2rem;
}
