.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.2rem;
    max-width: 18.8rem;
    width: 100%;
    padding: .9rem .8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    border: .1rem solid var(--color-primary-10);
    color: var(--color-primary-10);
    text-decoration: none;

    transition: background-color .3s, color .3s;
}
.button:hover {
    background-color: white;
    color: var(--color-primary-60);

}