.link { 
    display: flex;
    align-items: center;
    padding: 2.7rem .8rem;
}
.link:hover .icon, 
.link:hover .text { 
    transform: translateX(2.1rem);
}
.icon {
    height: 2.6rem;
    width: 2.6rem;
    margin-right: 2.2rem;
    transform: translateX(0);
    transition: transform .3s;
}
.text {
    font-size: 1.3rem;
    transform: translateX(0);
    transition: transform .3s;
}

.arrow {
    margin-left: auto;
    margin-right: 0;
}

.link + .link {
    border-top: .1rem solid var(--color-primary-30);
}