.main {
    padding-bottom: var(--padding-bottom-menu);
}
.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.notFound {
    padding: 0 var(--h-padding);
    font-size: 2.1rem;
    line-height: 1.61;
    margin-top: 3.4rem;
    text-align: center;
    color: var(--color-primary-60);
}
.carregarMais {
    font-family: "Futura PT";
    background-color: transparent;
    font-size: 2rem;
    border: none;
    outline: none;
    margin: 1.6rem auto 3.2rem;
    text-decoration: underline;
    text-decoration-thickness: .1rem;
    display: flex;
}