.form {
    padding: 0 var(--h-padding);
}
.fieldset {
    display: flex;
    align-items: center;
    padding: 1.1rem 1.3rem;
    background-color: var(--color-primary-25);
    border-radius: .2rem;
}
.IconSearch {
    margin-right: 1.9rem;
}
.input {
    flex: 1 1 100%;
}
.clear {
    border: none;
    cursor: pointer;
    background: transparent;
    transition: background-color .3s;
    border-radius: 50%;
    height: 2.1rem;
    width: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-variant: small-caps;
    outline: none;
}
.clear:hover {
    background: var(--color-primary-40);
}
.results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.9rem;
}

.notFound {
    padding: 0 var(--h-padding);
    font-size: 2.1rem;
    line-height: 1.61;
    margin-top: 3.4rem;
    text-align: center;
    color: var(--color-primary-60);
}
