.section {
    width: 100%;
}
.header {
    padding: 0 var(--h-padding);
    margin-bottom: 2.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collectionLink {
    color: var(--color-primary-60);
    text-decoration: none;
    font-size: 1.3rem;
}
.collectionLink:hover {
    text-decoration: underline;
}
.items {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.items::-webkit-scrollbar {
    display: none;
}
.item_wrapper {
    margin-left: var(--h-padding);
}