.header {
    height: 6rem;
    width: 100%;
    z-index: 2;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "leftmost center center center rightmost";
    padding: var(--h-padding);
}
.link {  
    margin-left: auto;
    margin-right: 0;
    grid-area: rightmost;
}
.bag {
    width: 1.7rem;
    height: auto;
    stroke: var(--color-primary-100);
}
.header.white .bag {
    stroke: var(--color-primary-10);
}

.title {
    margin: auto;
    grid-area: center;
    font-size: 1.4rem;
    letter-spacing: .156rem;
    color: var(--color-primary-100);
    font-weight: 600;
    text-transform: uppercase;
}
.title.white .bag {
    color: var(--color-primary-10);
}